body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    width: 100vw;
}

h1 {    
    font-size: 80pt;
    margin-top:25px;
    margin-bottom: 25px;
    padding: 15px;
    font-family: 'Permanent Marker', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}

#LP {
    margin-left: 45px
}

.rotate {
    width: 150px;
    animation: rotation 5s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


#add-album {
    width: 90vw;
    line-height: 110%;
    padding-left: 4%;
    margin-top: 0%;
}

input {
    width: 90%;
}

.col {
    float: left;
    width: 40%
}

.col3 {
    float: left;
    width: 20%;
    margin-bottom: 5px;
}

button {
    border: solid 1.5px black;
    border-radius: 5px;
}

button:hover {
    background-color: black;
    color:white;
    transition: 0.4s;
}

#addbutton {
    width: 60%;
    height: 30px;
    font-weight: bold;
}

#rating {
    width: 60%;
}

.album-rating {
    margin: 15px;
    font-weight: bold;
}

#format {
    width: 60%;
}

.album-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    width: 30vw;
    margin-bottom: 30px;
}

.album-card > img {
    width: 25vw;
    height: 25vw;
    border-radius: 5px;
    margin-bottom: 10px;
    filter:drop-shadow(5px 5px 5px black)
}

.album-card > h2 {
    margin: 5px;
}

.album-card > h3 {
    margin: 5px;
}

.album-card > p {
    font-size: small;
    width: 25vw;
    text-align: center;
    margin: 4px;
}

.listen {
    margin-top: 20px;
}

.btns-container {
    width: 75%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-weight: bolder;
}

#albums-container {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
}

.addForm {
    padding: 0 25px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 30px;
  }

  .collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: x-large;
    padding-bottom: 1%;
    font-family: 'Lato', sans-serif;
    background-color: white; 
  }

  .collapsible:hover {
    background-color: white;
    color:black;
}

.collapsible:after {
    content: '\02795   Add an Album';
    font-size: x-large;
    color: black;
    float: left;
    margin-left: 5px;
  }

  .active:after {
    content: "\2796   Add an Album";
  }

