body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    width: 100vw;
}

h1 {    
    font-size: 80pt;
    margin-top:25px;
    margin-bottom: 25px;
    padding: 15px;
    font-family: 'Permanent Marker', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

#LP {
    border-radius: 100%;
}

.rotate {
    width: 150px;
    animation: rotation 5s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


#add-album {
    width: 90vw;
    line-height: 110%;
    padding-left: 4%;
    margin-top: 0%;
}

.addField {
    margin-top: 7px;
    height: 45px;
    position: relative;
}

input {
    width: 90%;
    margin-top: 2px;
}

#format {
    width: 93%;
}

button {
    background-color: white;
    color:black;
    border-radius: 5px;
    border-color: black;
    font-family: 'Lato', sans-serif;
}

button:hover {
    background-color: black;
    color:white;
    transition: 0.4s;
}

.addForm {
    padding: 0 25px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 35vw 35vw 15vw;
    height: fit-content;
  }

  .collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: x-large;
    padding-bottom: 1%;
    font-family: 'Lato', sans-serif;
    background-color: white; 
  }

  .collapsible:hover {
    background-color: white;
    color:black;
}

.collapsible:after {
    content: 'Add an Album \02795';
    font-size: x-large;
    color: black;
    padding-right: 5.1%;
  }

  .collapsible:after:hover {
    background-color: black;
    color: white;
  }

  .active:after {
    content: "Add an Album \2796";
  }


#addbutton {
    width: 92%;
    height: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    left: 0px;
}

#suggestBtn {
    font-size: x-large;
    font-weight: bold;
    border: 0;
    padding: 18px;
}

.album-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    width: 30vw;
    margin-bottom: 60px;
}

#albumIMG > img{
    width: 25vw;
    height: 25vw;
    border-radius: 5px;
    margin-bottom: 10px;
    filter:drop-shadow(5px 5px 5px black)
}

#albumIMG > img:hover{
    filter:drop-shadow(8px 8px 8px black)
}

.album-card > h2 {
    margin: 5px;
}

.album-card > h3 {
    margin: 5px;
}

.album-card > p {
    font-size: small;
    width: 25vw;
    text-align: center;
    margin: 4px;
}

#des {
    width: 25vw;
    height: fit-content;
    text-align: center;
}

.listen {
    margin-top: 20px;
    width: 60px;
    height: 25px
}

.album-card > button {
    width: 60px;
    height: 25px
}

.btns-container {
    width: 75%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bolder;
}

.btns-container > button{
   width: 25px;
   height: 25px
}

.album-rating {
    margin: 15px;
    font-weight: bold;
}

#albums-container {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
}


  @media (max-width: 700px) {
    h1 {
        font-size: 20vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #LP {
        margin-left: 0px;
    }

    .addForm {
        display: flex;
        flex-direction: column;
      }
    
    #format {
        width: 91%;
    }

    .album-card {
        width: 90vw;
    }

    #albums-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #albumIMG > img{
        width: 80vw;
        height: 80vw;
    }
    
    .album-card > h2 {
        margin: 5px;
    }
    
    .album-card > h3 {
        margin: 5px;
    }
    
    .album-card > p {
        width: 80vw;
    }

    #des {
        width: 80vw;
    }

  }